
#cover{
	position:fixed;
	top:0;
	left:0;
	background: rgba(0,0,0,0.6);
	z-index: 5;
	width: 100%;
	height: 1000px;
	display: none;
}

#loginScreen{
	height:380px;
	width:340px;
	margin-left: 250px;
	margin-top:150px;
	background-color:#D4D6D8;
	position: relative;
	z-index: 10;
	display: none;
}
#loginScreen:target,#loginScreen:target +#cover{
	display: block;
	opacity: 2;
}
.p-store{
		height:70px;
		width:130px;
		margin-top:-400px;
		margin-left: 900px;
		 }
		
.p-store-1{
		height:70px;
		width:130px;
		margin-top: 50px;
		margin-left:10px;

		 }

.cancel{
	position: absolute;
	margin-top:20px;
	margin-left:280px;
	background-color:#D4D6D8;
	color:black;
	height: 50px;
	width: 50px;
	font-size: 30px;
	text-decoration:none;
	text-align: right;
	font-weight:bold;
}